.delete-tag-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}

.delete-tag-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.delete-tag-buttons-delete {
    padding: 4px 7px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFFFF;
    background: rgb(242, 3, 3);
    opacity: 1;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

#delete-tag-confirm-delete {
    font-size: 25px;
}

.delete-tag-buttons {
    padding: 4px 7px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: black;
    background: white;
    opacity: 1;
    border: 1px solid darkgrey;
    border-radius: 4px;
    margin-right: 5px;
}

#modal-content {
    border-radius: 5px;
}

.tag-text {
    font-weight: bold;
}

* {
    font-family: 'Poppins';
}
