.profile-dropdown {
  position: absolute;
  right: 20px;
}

.nav-div {
  display: flex;
  justify-content: space-between;
}

.logo-div {
  display: flex;
  align-items: center;
}

.clickable:hover {
  cursor: pointer;
}

.menu-ul {
  list-style-type: none;
}
